*{
    font-size: 20px;
    margin:0;
    padding:0;
    box-sizing: border-box;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

header div{
    background: #28c5c5;
    color: white;
    width: 100%;
    height: 4rem;
    margin-top: 0;
    border: 20px solid rgb(17, 56, 185);
    display: row;
}

.navbar h1{
    float:left;
}

.navbar ul{
    float: right;
    list-style: none;
    justify-content: right;
}
.navbar li{
    float:left;
    margin: 0rem 0.75rem;
}

.hero-section{
    background-image: url(https://images2.alphacoders.com/134/1346617.jpeg);
    height: 5rem;
    background-position: center;
    background-size: cover;
    text-align: cover;
    color: red;
    padding-top:1rem;
}

.hero-section h1,
.hero-section h2{
    text-align: center;
}

.logo{
    font-size: 30px;
    color: cornflowerblue;

}

.nav-links li{
    list-style: none;
}

.nav-links li:nth-child(1) a{
    color: red
}

.nav-links li:nth-child(2) a{
    color:blue;
}

.nav-links li:nth-child(3) a{
    color:violet;
}

