* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: 4rem;
}

li,
button,
label,
input,
p {
  font-size: 3rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
  font-weight: normal;
}

h4,
h5 {
  font-size: 2rem;
}

ul {
  list-style: none;
}

a {
  color: #2c2c2c;
  text-decoration: none;
  font-size: 3rem;
}

.main-head {
  width: 100%;
  margin: 0 0 0 auto;
  background: linear-gradient(to left, #5acace, #164aaa);
  padding-right: 2rem;
}
.main-head nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  min-height: 10vh;
  width: 100%;
  flex-wrap: wrap;
  font-size: 3rem;
}
.main-head nav img {
  max-width: 80px;
}
.main-head nav .logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex: 2 1 10rem;
  padding-left: 3rem;
}
.main-head nav h1 {
  color: white;
}
.main-head nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex: 1 1 40rem;
  color: white;
}

.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  min-height: 90vh;
  width: 100%;
  margin: auto;
  flex-wrap: wrap;
  background-image: linear-gradient(to right, #ffffff, #26cad6);
  position: relative;
  overflow: hidden;
}
.intro .intro-image {
  padding-left: 2rem;
  width: 55vw;
  flex: 2 1 40rem;
  position: absolute;
}
.intro .intro-text {
  padding-right: 10rem;
  flex: 1 1 40rem;
  text-align: right;
  z-index: 1;
}
.intro .intro-text h2 {
  display: inline-block;
  font-size: 8rem;
  padding-top: 2rem;
  background: black;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.intro .intro-text h3 {
  font-size: 6rem;
  padding: 2rem 0rem;
}
.intro .intro-text p {
  padding-top: 2rem;
  color: #2c2c2c;
  font-size: 3rem;
}

.about-me {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 0 0 0 auto;
  width: 100%;
  background: url("../image/background.png");
  flex-wrap: wrap;
}
.about-me .about-text {
  flex: 1 1 20rem;
  top: 0rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
.about-me .about-text h1 {
  text-align: center;
}
.about-me ul {
  font-size: 3rem;
}
.about-me .about-image {
  padding-right: 0;
}
.about-me .about-image img {
  width: 50vw;
  height: 100%;
}

@media screen and (max-width: 1336px) {
  html {
    font-size: 53%;
  }
  .intro-image {
    display: none;
  }
  .main-head nav {
    width: 100%;
  }
  .about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .about-me .img {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 754px) {
  html {
    font-size: 45%;
  }
  .main-head {
    width: 100%;
  }
  .main-head nav .logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex: 1 1 20rem;
    margin-top: 2rem;
  }
  .main-head nav ul {
    flex: 1 1 60rem;
    margin: 2rem 0rem;
  }
  .intro .intro-text {
    margin-top: 5rem;
    text-align: left;
    padding-left: 2rem;
  }
}/*# sourceMappingURL=style.css.map */